* {
    font-family: "NotoSansM NFM";
    font-size: 14px;
}

window {
    border: 2px solid #83a598;
    border-radius: 8px;
    background-color: #282828;
}

#input {
    margin: 8px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #ebdbb2;
    background-color: #3c3836;
}

#inner-box {
    margin: 0 8px 8px 8px;
    background-color: #282828;
}

#outer-box {
    background-color: #282828;
}

#entry {
    padding: 8px;
    color: #ebdbb2;
}

#entry:selected {
    border-radius: 4px;
    background-color: #3c3836;
    color: #fabd2f;
}

#text {
    color: #ebdbb2;
}

#text:selected {
    color: #fabd2f;
}
