@define-color bg #282828;
@define-color bg-light #32302f;

@define-color fg #ebdbb2;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

@define-color red-dark #cc241d;
@define-color green-dark #98971a;
@define-color yellow-dark #d79921;
@define-color blue-dark #458588;
@define-color purple-dark #b16286;
@define-color aqua-dark #689d6a;
@define-color orange-dark #d65d0e;

#waybar {
    color: @fg;
    background: alpha(@bg, 0.9);
}

#pulseaudio,
#backlight,
#battery,
#network,
#clock {
    padding: 0 8px;
}

#power-menu {
    padding: 0 4px;
}

#workspaces button {
    min-width: 12px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: @green;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.empty {
    color: @fg;
}

#workspaces button.active {
    color: @yellow;
    background: alpha(@bg-light, 0.9);
}

#workspaces button:hover {
    background: alpha(@bg-light, 0.9);
}

#network {
    color: @purple;
}

#custom-power,
#custom-lock,
#custom-reboot {
    padding: 0 4px;
}

#custom-power {
    color: @red;
}

#custom-lock {
    color: @green;
}

#custom-reboot {
    color: @purple;
    font-size: larger;
}
